@import url(font-awesome.min.css);


* {
    margin: 0 ;
    padding: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: 'Lora';
    overflow-x: hidden;
    margin: 0 auto;
    
}


:root {
    --color-A55C30 : #A55C30;
    --color-232730 : #232730;
    --color-F8D7A4 : #F8D7A4;
    --color-000000 : #000000;
    --color-272727 : #272727;
    --color-E8EAEC : #E8EAEC;
    --color-0C0C0C : #0C0C0C;
    --color-FAFAFA : #FAFAFA;
    --color-9F9F9F : #9F9F9F;
    --color-C7763E : #C7763E;

}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans-Bold.woff') format('woff');
    font-weight: 650;
    font-style: normal;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans-Light.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    transition: color .3s ease-in;
}

/* .show {
    
} */



/*  Start header navbar */
header {
    overflow: hidden;
}


.site-container {
   
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.navigation {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
   
}
.header-logo {
   align-self: center;
    transform: scale(.8);
    margin: 0;
}
.header-navbar {

    display: flex;
    position: absolute;
    flex-direction: column;
  
    justify-content: flex-start;
    right: 0px;
    border-radius: 10px 0 0 10px;
    height: 400px;
    top: 2.9rem;
    width: 200px;
    transform: translateX(300px);
    transition: all 400ms ease-out;
    background-color: #0C0C0CF2;
    z-index: 2;

    
}

.navbar-menu {
 /* width: 100%; */
 list-style: none;

}

.navbar-menu-item {
    text-align: left;
    margin-top: .5rem;
    padding: 1rem 0;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.navbar-menu-item-link {
    padding-left: 2rem;
    color: var(--color-FAFAFA);
    font-family: 'NunitoSans';
    font-weight: 600;
    font-size: 16px;
    
}
.navbar-menu-item:hover {
    background-color: var(--color-C7763E);
}

.burger-bar {
    margin: 0;
    padding: 0 .5rem;
}



/*  End header navbar */

/* Start header bottom */

.header-bottom {
    width: 100%;
    padding-top: 2rem;
    overflow: hidden;
    background-image: url('../image/header-car.png');
    background-position-y: 40px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 600px;
}


.header-bottom-content h1 {
    position: relative;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 30px;
    /* line-height: 40px; */
    text-align: left;
    width: 60%;
    padding-left: 2rem;
    margin-left: 1rem;
    z-index: 1;
}
.header-bottom-content h1:before {
    position: absolute;
    content: '';
    width: 9px;
    height: 180px;
    left: 0;
    top: 0;
    background-color: var(--color-F8D7A4);
}
.header-bottom-content-photo {
    margin-right: -81px;
    margin-top: -96px;
    width: 100%;
}
/* End header bottom    */

/*  Start main         */
/*  Start about        */
.about {
    margin-bottom: 1rem;
}
.about-container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 2rem;
    padding: 1rem;
    box-shadow: 4px -4px 30px 4px #0000000A;

    
}

.left-about-content {
    justify-self: center;
    max-width: 580px;
 
    
}
.left-about-content img {
    width: 100%;
   
    
}

.right-about-content {
    width: 100%; 
}

.right-about-content h3 {
    text-align: center;
    font-family: 'Lora';
    font-weight: 650;
    font-size: 32px;
    color: var(--color-A55C30);
    margin-bottom: 1rem;
}

.right-about-content p {
    font-family: 'NunitoSans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: .5rem;
}
/*  End about        */
/*  Start Services     */

.services {
    margin: 2rem 0;
    /* height: 700px; */
    width: 100%;
    position: relative;
}
.services::before{
    position: absolute;
    content: '';
    background-color: var(--color-000000);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;

}
.services .site-container {
    background-image: url('../image/services.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    

}

.services-container {
    padding: .5rem;
    /* display: flex; */
    text-align: center;
    width: 100%;

    
    position: relative;
    z-index: 10000;
    
    
}
.services-title {
    margin: 2rem;
    /* z-index: 1000; */
}
.services-title h3 {
    font-family: 'Lora';
    font-weight: 700;
    font-size: 32px;
    color: var(--color-A55C30);
}

.services-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    column-gap: 40px;
    width: 100%;
    /* z-index: 1000; */
    
}
.service {
    margin-top: 3rem;
    justify-self: center;
    max-width: 320px;
   
}
.service img {
    width: 56px;
    height: 56px;
    margin-bottom: 1rem;
}

.service-content {
    text-align: center;
    /* color: #ffffff; */
    margin-bottom: 2rem;
}
.service-content h5 {
    font-family: 'NunitoSans';
    font-weight: 700;
    font-size: 16px;
    margin-bottom: .8rem;
    color: var(--color-FAFAFA);

}
.service-content p {
    font-family: 'NunitoSans';
    font-weight: 400;
    font-size: 14px;
    margin-bottom: .7rem;
    color: var(--color-FAFAFA);
}

/*  End Services     */

/*   Start fleet    */
.fleet {
    margin-top: 2rem;
}

.fleet-container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.fleet-title h3 {
    font-family: 'Lora';
    font-weight: 700;
    font-size: 32px;
    color: var(--color-A55C30);
}
.slides {
    height: 100%;
    /* border: 1px solid red; */
    padding-left: 50px;
    display: flex;
    column-gap: 30px;
    transform: translateX(-30px);
    transition: all 600ms ease-in-out
    
   

}

.slide {
    width: 311px;
    height: 100%;
    padding: 74px 25px 25px 24px;
    box-shadow: 4px 10px 30px 0px #0000001A;
    background-color: #FFFFFF;

}

.slide figure {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.slide figure img {
    width: 90%;
    padding: 0;
}

.slide figure .infos {
    margin-top: 1.5rem;
    text-align: center;
}

.slide figure .infos h4 {
    text-transform: uppercase;
    font-family: 'NunitoSans';
    font-size: 22px;
    font-weight: 700;
    color: var(--color-A55C30);
    /* margin-bottom: .5rem; */

}
.slide figure .infos h6 {
    
    font-family: 'NunitoSans';
    font-size: 16px;
    font-weight: 400;
    color: #232222F5;
    margin-bottom: 2rem;

}

.slide figure .infos p {
    font-family: 'NunitoSans';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    
    color: #232222F5;
    

}

.footer-slide {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-slide .seats  {
    padding: 0 .5rem;
    
}

.footer-slide .seats i, .footer-slide .luggage i {

    color: var(--color-F8D7A4);
    font-size: 18px;
    margin-right: .5rem;
}
.footer-slide .seats span, .footer-slide .luggage span {

    color: #232222F5;
    font-family: 'NunitoSans';
    font-size: 14px;
    font-weight: 400;
    
}

.next, .prev {
    position: absolute;
    background-color: var(--color-F8D7A4);
    color: #FFFFFF;
    border: none;
    border-radius: 100%;
    padding: 5px 12px;
    top: 50%;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.next:hover, .prev:hover {
    background-color: var(--color-A55C30);
}
.next i, .prev i {
    font-size: 24px;
}


.next {
    right: 0;
}
.prev {
    left: 0;
    display: none;
    
}

/*   End fleet    */

/* start Our Numbers Result */
/* .our-numbers {
    
} */
.our-numbers-container {
    margin: 2.5rem 10px 0 10px;
    background-color: #232222F5;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* column-gap: 50px; */
    height: 545px;
}

.result {
    width: 93px;
    height: 82px;
    text-align: center;
}
.result span:first-of-type{
    font-family: 'NotoSans';
    font-size: 48px;
    font-weight: 600;
    /* line-height: 65.38px; */
    color: #FFFFFF;

}
.result span:last-of-type{
    font-family: 'Lora';
    font-size: 14px;
    font-weight: 400;
    /* line-height: 65.38px; */
    color: #FFFFFF;
    text-transform: uppercase;

}

/* End Our Numbers Result */

/*  Start testimonials      */
.testimonials-container {
    background-color: var(--color-F8D7A4);
    padding: 3.5rem 1.5rem 4rem 1.5rem;
    margin: 0 10px;
    text-align: center;

}
.testimonials-container h3 {
    font-family: 'Lora';
    font-size: 32px;
    font-weight: 700;
    color: var(--color-A55C30);
    margin-bottom: 2.5rem;

}

.driver-testimonial {
    display: none;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 3rem;
    
    

}

.descriptin {
    margin-bottom: 2.5rem;

}
.descriptin p { 
    font-family: 'NunitoSans';
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-272727);

}

.score i {
    color: var(--color-F8D7A4);

}

.avatar {
    text-align: center;

}
.avatar img {
    width: 80px;
    height: 80px;
}
.avatar h6 {
    font-family: 'NunitoSans';
    font-size: 20px;
    font-weight: 700;
    color: var(--color-272727);

}
.avatar span {
    font-family: 'NunitoSans';
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: #979797
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dots {
    margin-top: 2rem;
    text-align: center;
}
.dot {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .5s ease-in-out;
}

.active, .dot:hover {
    background-color: var(--color-A55C30);
}


/*  End testimonials      */

/* Start Call Section        */

.call {
    
    width: 100%;
    position: relative;
}
.call::before{
    position: absolute;
    content: '';
    background-color: var(--color-000000);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;

}

.call .site-container {
    background-image: url('../image/services.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}

.call-container{
    text-align: center;
    width: 100%;
    padding: 4rem 2rem;
    color: var(--color-FAFAFA);
    position: relative;
    z-index: 999;
}
.call-container p {
    font-family: 'NunitoSans';
    font-size: 20px;
    font-weight: 400;
    line-height: 27.24px;
    margin-bottom: 2rem;

}
.call-container h2 {
    font-family: 'NunitoSans';
    font-size: 32px;
    font-weight: 600;
    line-height: 43px;
    /* margin-bottom: 2rem; */

}
.call-container h2 a {
    color: var(--color-FAFAFA);

}
/* End Call Section        */
/* Start contact Section        */
.contact-container {
    width: 100%;
    padding: 4rem 0;
    text-align: center;
}
.contact-container h3 {
    font-family: 'Lora';
    font-size: 32px;
    font-weight: 700;
    color: var(--color-A55C30);
    margin-bottom: 2rem;
}
.contact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    width: 95%;
    margin: 0 auto;
    background-color: #E8EAEC;
    padding: 2rem 1.5rem;
    border: none;
    border-radius: 5px;
}
.contact-container form >*:not(:last-child) {
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 12px 15px;
    width: 100%;
    outline: none;
    font-size: 14px;
    color: #272727;
}
.contact-container form >*::placeholder {
    color: var(--color-9F9F9F);
}
.contact-container form .select-car input {
    width: 95%;
    margin: 0;
    text-align: left;
    border: none;
    height: 100%;
    font-size: 14px;
    color: var(--color-272727);
    outline: none;
}
.contact-container form .select-car input::placeholder {
    color: var(--color-9F9F9F);
}
.contact-container form .select-car .fa {
    width: 3%;
    height: 100%;
}
.select-car {
    position: relative;
}
.select-car-option {
    position: absolute;
    top: 1.5rem;
    left: 0;
    margin-top: 1rem;
    display: none;
    text-align: left;
    list-style: none;
    width: 100%;
    background-color: var(--color-F8D7A4);
    border-radius: 5px;
    
}
.visible {
    display: grid;
}
.select-car-option li {
    
    display: inline-block;
    padding: 10px;
    text-align: left;
    color: var(--color-9F9F9F);

}
.select-car-option li:hover {
    background-color: var(--color-272727);

}
.icon {
    transition: all .3s;
}

.contact-container form textarea {
    height: 204px;
}
.submit-btn {
    width: 30%;
    text-align: center;
    padding: 16px 0;
    background-color: var(--color-A55C30);
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}


/* End Contact Section        */

/*  End main        */

/*  Start Footer */

footer {
    background-color: var(--color-0C0C0C);
}

.footer-container {
    padding: 2rem 1rem;
    width: 100%;
    
}
.row {
    width: 100%;
}
.footer-row-up {
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}

.footer-left {
    width: 263px;
    justify-self: center;
    
}
.footer-left p, .footer-center p {
    font-family: 'NunitoSans';
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-top: 1.5rem;
    color: var(--color-FAFAFA);
    max-width: 300px;
    

}

.footer-center {
    max-width: 428px;
    text-align: center;
}
.footer-center h4, .footer-right h4 {
    text-align: left;
    font-family: 'NunitoSans';
    font-size: 24px;
    font-weight: 650;
    line-height: 32.74px;
    color: var(--color-A55C30);
    padding-left: 5rem;

}
.footer-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-form input {
    width: 276px;
    background-color: var(--color-FAFAFA);
    padding: 15px 15px ;
    border: none;
    border-radius: 5px;
}
.footer-form .footer-sub-btn {
    background-color: var(--color-A55C30);
    color: var(--color-FAFAFA);
    padding: 15px;
    width: 136px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.footer-right {
    width: 231px;
    
}
.footer-right .location , .footer-right .tell, .footer-right .email {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: center; */
    color: var(--color-FAFAFA);
    margin-top: 1rem;
    gap: 1rem;
}
.footer-right .tell i, .email i, .location i, .tell a , .email a {
    color: var(--color-FAFAFA);
    
}
.tell a , .email a, .location p {
    font-family: 'NunitoSans';
    font-size: 14px;
    font-weight: 400;
    line-height: 21.82px;
    text-align: left;


}
.tell a {
    display: block;
}
.footer-row-bottm {
    width: 100%;
    margin-top: 2rem;
}
.social-media {
    text-align: center;
}
.social-media i {
    /* width: 30px;
    height: 30px; */
    font-size: 25px;
    color: var(--color-FAFAFA);
    margin: 0 1rem;
}
.line {
    background-color: #E5E5E5;
    height: 1px;
    width: 90%;
    margin: 1rem auto;
}
.copy-right {
    text-align: center;
}
.copy-right a {
    font-family: 'NunitoSans';
    font-size: 12px;
    font-weight: 300;
    line-height: 16.37px;
    color: var(--color-FAFAFA);

}



/*  End Footer */
